html, body {
  height: 100%;
  overflow: hidden;
  background-color: #370e75;
}
  .center-wrapper {
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 1s ease;
}
#sillyfish {
  background: none;
  border: none;
  cursor: pointer;
}
#sillyfish img {
  height: auto;
  width: 500px;
}
