html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #370e75;
}
  .center-wrapper {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    height: 100vh;
    transition: all 0.8s ease; /* so changes animate */
}
.center-wrapper.slide-up {
  transform: translateY(-40vh); /* moves up smoothly */
}
#sillyfish {
  background: none;
  border: none;
  cursor: pointer;
}
#sillyfish img {
  height: auto;
  width: 500px;
}
#homebuttons {
  display: flex;
  justify-content: right;
  align-items: right;
  height: 100vh
  transition: all 0.8s ease;
}
#homebuttons.fade-in {
  opacity: 
